body{
	font-family: font-family: "Times New Roman", Georgia, Serif;
	font-color: #808080;
	background-image: url("/assets/css/background.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-display: block;
    opacity: rgba(255,255,255,0.6); 

}

article{
	display: block;
	color: #666666;
	padding: 10px;
    background-color: #ffffff;
    border: 2px solid black;
    opacity: 0.7;
    font-family: "Times New Roman", Georgia, Serif;
}

p{
	font-size: 16px;
}

h3{
	text-align: center;
}

label{
	font-size: 18px;
}

nav{
	font-size: 20px;
	font-weight: bolder;
	color: #CCCCCC;

}

footer{
	padding: 10px;
    line-height: 0;
    background-color: #4C4C4C;
    box-shadow: 0px 5px 40px 0px #aaa;
    text-align: center;
    color: #E6E6E6;
}

.navbar{
	padding: 10px;
    line-height: 0;
    background-color: #4C4C4C;
    box-shadow: 0px 5px 40px 0px #aaa;

}
.logo{
	width: 190px;
	height: 60px;
	position: relative;
	margin: 5px;

}



